﻿@{
    ViewData["Title"] = "Home Page";
}
@model Dictionary<string, string>

<!-- Banner -->
    <section id="banner" class="wrapper style2 align-center">
        <div class="container">
            <div class="row">
                <div class="6u 12u$(small)">
                    <div>
                        <p>@Model["banner_section_text_1"]</p>
                        <div class="align-left">
                            <img class="img3" src="images/telegram_logo.png">
                            <img class="img3 gray" src="images/messenger.png">
                            <img class="img3 gray" src="images/viber.png">
                            <img class="img3 gray" src="images/whatsapp.png">
                        </div>
                        <p>@Model["banner_section_text_2"]</p>
                    </div>
                </div>
                <div class="6u 12u$(small) align-bottom">
                    <div style="margin-top: 80px; height:0">
                        <img src="images/img_mockup.png">
                    </div>
                </div>
            </div>
        </div>
    </section>

<!-- One -->
<section id="one" class="wrapper style1 align-center">
    <div class="container">
        <header>
            <h2>@Model["one_section_header_1"]</h2>
        </header>
        <div class="row 200%">
            <section class="6u 12u$(small)">
                <p>
                    @Model["one_section_text_1"]
                </p>
            </section>
            <section class="6u$ 12u$(small)">
                <img src="images/block2_img.png">
            </section>
        </div>
    </div>
</section>

<!-- Two -->
<section id="two" class="wrapper align-center">
    <div class="container">
        <header>
            <h2>@Model["two_section_header_1"]</h2>
        </header>
        <div class="row">
            <section class="feature 6u 12u$(small)">
                <img class="image fit" src="images/block3_img.png" alt="" />
            </section>
            <section class="feature 6u$ 12u$(small)">
                <p>
                    @Model["two_section_text_1"]
                </p>
            </section>
        </div>
    </div>
</section>

<!-- Footer -->