﻿@model Dictionary<string, string>
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>Lend a Hand</title>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<meta name="description" content="" />
<meta name="keywords" content="" />
<!--[if lte IE 8]><script src="css/ie/html5shiv.js"></script><![endif]-->
<script src="js/jquery.min.js"></script>
<script src="js/skel.min.js"></script>
<script src="js/skel-layers.min.js"></script>	
<script src="js/init.js"></script>
<noscript>
	<link rel="stylesheet" href="css/skel.css" />
	<link rel="stylesheet" href="css/style.css" />
	<link rel="stylesheet" href="css/style-xlarge.css" />
</noscript>
<!--[if lte IE 8]><link rel="stylesheet" href="css/ie/v8.css" /><![endif]-->
</head>	
<body id="landing">
    <header id="header">
        <img src="images/header1.png" alt="LendAHand">
        <nav id="nav">
            <ul>
                <li><a href="index.html">@Model["layout_header_1_nav_1"]</a></li>
                <li><a href="#one">@Model["layout_header_1_nav_2"]</a></li>
                <li><a href="#two">@Model["layout_header_1_nav_3"]</a></li>
                <li><a href="#footer">@Model["layout_header_1_nav_4"]</a></li>
                <li>
                    @Html.ActionLink("EN", "Index", "Home", new { lang = 1 })
                    @Html.ActionLink("UA", "Index", "Home", new { lang = 3 })
                </li>
            </ul>
        </nav>
    </header>
    <!--<header>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container">
                <a class="navbar-brand" href="#"><img src="images/header1.png" alt="LendAHand"></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                    <div class="collapse navbar-collapse" id="navbarNav">
                        <ul class="navbar-nav ml-auto">
                            <li class="nav-item active"><a class="nav-link" href="#">Home<span class="sr-only">(current)</span></a></li>
                            <li class="nav-item active"><a class="nav-link" href="#one">About</a></li>
                            <li class="nav-item active"><a class="nav-link" href="#two">What`s Next</a></li>
                            <li class="nav-item active"><a class="nav-link" href="#footer">Contact Us</a></li>
                        </ul>
                    </div>
            </div>
        </nav>
    </header>-->
    <main>
        @RenderBody()
    </main>
    <footer id="footer" class="wrapper style1 align-center">
        <div class="container">
            <header>
                <h2>@Model["footer_section_header_1"]</h2>
            </header>
            <div class="row">
                <section class="6u 6u(medium) 12u$(small)">
                    <p>
                        @Model["footer_section_text_1"]
                    </p>
                </section>
                <section class="6u$ 12u$(medium) 12u$(small)">
                    <ul class="icons">
                        <li><a href="#" class="icon rounded fa-twitter"><span class="label">Twitter</span></a></li>
                        <li><a href="#" class="icon rounded fa-facebook"><span class="label">Facebook</span></a></li>
                        <li><a href="#" class="icon rounded fa-pinterest"><span class="label">Pinterest</span></a></li>
                        <li><a href="#" class="icon rounded fa-google-plus"><span class="label">Google+</span></a></li>
                        <li><a href="#" class="icon rounded fa-linkedin"><span class="label">LinkedIn</span></a></li>
                    </ul>
                    <ul class="tabular">
                        <li>
                            <h3>@Model["footer_section_address_header_1"]</h3>
                            Ukraine<br>
                            Kyiv
                        </li>
                        <li>
                            <h3>@Model["footer_section_mail_header_1"]</h3>
                            <a href="#">solariscrew@gmail.com</a>
                        </li>
                    </ul>
                </section>
            </div>
            <ul class="copyright">
                <li>Design: <a href="http://templated.co">Solaris Crew</a></li>
            </ul>
        </div>
    </footer>
    <!--
    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2020 - LendAHand - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
        -->
</body>
</html>
